node_modules/
uploads/stories 
uploads/starting-images 
uploads/profile-image
uploads/profile-banner
uploads/images-uniques
uploads/images-drafts
uploads/images-arts-works
uploads/document-id-images
uploads/certifications-arts-uniques
uploads/images-nfts